@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "@midudev/tailwind-animations"

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-success: #4990E2;
  --color-warning: #F39C0F;
  --color-error: #E84C3C;
  --color-surface: #FFFFFF;
  --color-background: #E9E9E9;
  --color-onSurface: #10141A;

  --text-title-large: 2.25rem;
  --text-title-small: 2rem;
  --text-label-large: 1.375rem;
  --text-label-medium: 1.375rem;
  --text-label-small: 1.125rem;
  --text-body-large: 0.8125rem;
  --text-body-medium: 0.8125rem;
  --text-body-small: 0.75rem;
}