name: CI

on:
  push:
    branches: [ "main" ]
    paths-ignore: 
        - 'docs/**'
        - '.github/workflows/docs.yml'
        - 'mkdocs.yml'
  pull_request:
    branches: [ "main" ]
    paths-ignore: 
        - 'docs/**'
        - '.github/workflows/docs.yml'
        - 'mkdocs.yml'

jobs:
  backend:
    name: Backend CI
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: ci_user
          POSTGRES_PASSWORD: ci_password
          POSTGRES_DB: ci_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgresql://ci_user:ci_password@localhost:5432/ci_db?schema=public

    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v4
    
    - uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'pnpm'
        cache-dependency-path: ${{ github.workspace }}/backend/pnpm-lock.yaml

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Push Schema to DB
      run: pnpm prisma db push

    - name: Generate Prisma Client
      run: pnpm prisma generate

    - name: Build
      run: pnpm run build

    - name: Test
      run: pnpm test --if-present

  frontend:
    name: Frontend CI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontEnd

    steps:
    - uses: actions/checkout@v4
    
    - uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'pnpm'
        cache-dependency-path: ${{ github.workspace }}/frontEnd/pnpm-lock.yaml

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Build
      run: pnpm run build

    - name: Test
      run: pnpm test --if-present

