name: Exportar Diagrama y Notificar a Telegram

on:
  push:
    paths:
      - 'doc/diagramaConceptual.drawio' # GitHub verifica el cambio AQU, gratis.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  convert-and-send:
    runs-on: ubuntu-latest
    steps:
      # 1. Descarga ULTRA r谩pida (solo la 煤ltima versi贸n del archivo)
      - name: Checkout del c贸digo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Solo 1 commit. M谩s r谩pido imposible.

      # 2. Conversi贸n Directa
      # Como el workflow solo se activ贸 porque el archivo cambi贸,
      # es seguro decirle "convierte todo lo que encuentres en doc/"
      - name: Convertir Draw.io a JPG
        uses: rlespinasse/drawio-export-action@v2
        with:
          path: doc/
          format: jpg
          output: export/
          action-mode: all # <--- Esto evita el error del "shallow repository"

      - name: Enviar a Telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.ID_GROUP_TELEGRAM }}
          token: ${{ secrets.APIKEY_BOT_TELEGRAM }}
          photo: export/doc/diagramaConceptual.jpg
          message: |
             **Diagrama Actualizado**
            
            Se ha detectado un cambio y se ha generado la imagen autom谩ticamente.